input[id="custom-format-date-input"],
input[id="custom-format-text-input"] {
  position: relative;
  width: 130px;
  height: 20px;
  box-sizing: border-box;
}

input[id="custom-format-date-input"]:before {
  position: absolute;
  top: 0px;
  left: 3px;
  content: attr(custom-format-value);
  display: inline-block;
  opacity: 1;
}

input[id="custom-format-date-input"]::-webkit-datetime-edit,
input[id="custom-format-date-input"]::-webkit-inner-spin-button,
input[id="custom-format-date-input"]::-webkit-clear-button {
  display: none;
}

input[id="custom-format-date-input"]::-webkit-calendar-picker-indicator {
  position: absolute;
  /* top: 0px; */
  right: 0;
  opacity: 1;
}

input[id="custom-format-text-input"] {
  font-family: monospace;
  padding-inline-start: 1px;
  cursor: default;
  overflow: hidden;
  padding: 0px;
}